@import "normalize.css";
@import "mixins";
@import "header";
@import "content";

* {
  box-sizing: border-box;
}
body, h1, h2, p, ul, li {
  padding: 0;
  margin: 0;
}
body {
  font-family: "-apple-system, Roboto, sans-serif, serif";
  background: #D3E2B6;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 16px;
}